.contentTips {
  margin: $big auto calc($big * 3) auto;
  max-width: 600px;
  section {
    margin: $big 0px;
    h1 {
      color: $primary;
      margin-bottom: $small;
      font-family: Caveat;
      font-weight: 600;
      font-size: 38px;
      line-height: 0.9em;
    }
    h2 {
      color: $primary;
      margin-bottom: $small;
      font-family: Caveat;
      font-weight: 600;
      font-size: 38px;
      line-height: 0.9em;
    }
    ol {
      list-style-type: decimal;
      li {
        margin: $small 0;
        &::marker {
          color: $primary;
          font-weight: 900;
          font-size: 20px;
        }
      }
    }
    ul {
      list-style-type: square;
      li {
        margin: $small 0;
        &::marker {
          color: $primary;
          font-size: 24px;
        }
      }
    }
    p {
      margin-bottom: $medium;
      span.yellow{
        color: $warning;
      }
      a {
        color: $info;
        font-weight: 900;
      }
    }
    pre{
      &.code{
        background-color: $dark;
        color: $light;
        padding: $medium;
        margin: $medium 0;
        width: 100%;
        display: block;
        overflow-y: scroll;
        max-height: 200px;

        .yellow{
          color: $warning;
        }
        .green{
          color: $success;
        }
    }
  }
}

@media (max-width: $mobileSize) {
  .contentTips {
    margin: $big 9% calc($big * 3) 9%;
  }
}
}