.normalText{
    font-size: 0.9em;
    color: $dark;
}

.primaryColorText{
    color: $primary;
    font-family: Caveat;
    font-weight: 600;
    font-size: 26px;
    line-height: 0.9em;
}
h1.primaryColorText{
    font-size: 46px;
}
h2.primaryColorText{
    font-size: 38px;
}

.boldFont{
    font-weight: 900;
}

.ligthText{
    color: $light;
}

.centerFont{
    text-align: center;
}

.darkFont{
    color: $dark;
}