.header{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
}
.headerOverlayFix{
    margin-top: 160px;
}
.headerFristSection {
    background-color: $primary;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $small;
}
.headerLogotipo {
  width: 120px;
  height: 40px;
}
.headerLoginButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  .headerLoginButtonImage {
    width: 18px;
    height: 18px;
  }
  * {
    padding: $small;
  }
}

.headerCurrentUserName{
  overflow:hidden;
}

.headerMenuContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $small;
  background-color: $secondary;
  width: 100%;
}

.headerMenuTitle{
  padding: $small;
  margin: 0 $medium;
  text-align: center;
  cursor: pointer;
}

.headerMenuSubItensList{
  position: absolute;
  background-color: $dark;
  padding: $small;
  width: 200px;
  li{
    text-align: center;
    padding: $small;
    background-color: $primary;
    margin: $small 0;
    cursor: pointer;
  }
}

.headerMenuItem{
  .headerMenuSubItensList{
    display: none;
    transition: 0.3s;
    opacity: 0;
  }
  &:hover{
    .headerMenuSubItensList{
      display: block;
      opacity: 1;
    }
  }
}