.loginColluns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: $mobileSize) {
    .loginColluns{
        display: grid;
        grid-template-columns: 1fr;
    }
}

.loginPopUp{
    padding: $big;
    background-color: $light;
    margin: $big;
    height: fit-content;
}