.loginColluns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: $mobileSize) {
    .loginColluns{
        display: grid;
        grid-template-columns: 1fr;
    }
}

.loginPopUp{
    padding: $big;
    background-color: $light;
    margin: $big;
    height: fit-content;
}

.acceptInput{
    display: flex;
    margin-top: $medium;
    input{
        margin-right: $small;
        width: 30px;
    }
}