.panelColluns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    >div{
        padding: $small;
    }
}

@media (max-width: $mobileSize) {
    .panelColluns{
        display: grid;
        grid-template-columns: 1fr;
    }
}