$primary: #ffa52f;
$secondary: #4e4e4e;
$success: #21c27c;
$danger: #c72a49;
$warning: #e8bc1e;
$info: #1fbfd1;
$dark: #22131c;
$light: #faf7ea;

$fontSize: 1rem;

$small: 3px;
$medium: 8px;
$big: 16px;

$mobileSize: 690px;