$primary: #db913c;
$secondary: #db7018;
$success: #21c27c;
$danger: #c72a49;
$warning: #e8bc1e;
$info: #1fbfd1;
$dark: #36302b;
$light: #f2f6f8;

$fontSize: 1rem;

$small: 8px;
$medium: 16px;
$big: 26px;

$mobileSize: 690px;

*{
    font-family:'roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .6s;
    color: $dark;
}