$primary: #ffa52f;
$secondary: #4e4e4e;
$success: #21c27c;
$danger: #c72a49;
$warning: #e8bc1e;
$info: #1fbfd1;
$dark: #22131c;
$light: #faf7ea;

$fontSize: 1rem;

$small: 8px;
$medium: 16px;
$big: 26px;

$mobileSize: 690px;

*{
    font-family:'roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .6s;
}